<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
	    <!-- 配置资源目录的位置 -->
	    <context-param>
	      <param-name>resourceRoot</param-name>
	      <param-value>/resources</param-value>
	    </context-param>
	   	<!-- 启用测试的数据库配置 ,这里选择的是profile的value为dev的项-->
	    <context-param>
	    	<param-name>spring.profiles.active</param-name>
	    	<param-value>dev</param-value>
		</context-param>
	    <context-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>classpath:/spring/servlet-context.xml</param-value>
	    </context-param>
	    
	    <context-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>classpath:/spring/root-context.xml</param-value>
	    </context-param>
	    
	    <!-- Processes application requests -->
		<servlet>
			<servlet-name>springMvcProjectServlet</servlet-name>
			<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
			<init-param>
				<param-name>contextConfigLocation</param-name>
				<param-value>classpath:/spring/servlet-context.xml</param-value>
			</init-param>
			<load-on-startup>1</load-on-startup>
			<async-supported>true</async-supported>
		</servlet>
		<servlet-mapping>
			<servlet-name>springMvcProjectServlet</servlet-name>
			<url-pattern>/</url-pattern>
		</servlet-mapping>
	     
	    <!-- Creates the Spring Container shared by all Servlets and Filters -->
		<listener>
			<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		</listener>
		
		<!-- Character Encoding Filter -->
	 	<filter>
			<filter-name>setCharacterEncoding</filter-name>
			<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
			<init-param>
				<param-name>encoding</param-name>
				<param-value>UTF-8</param-value>
			</init-param>
		</filter>
		<filter-mapping>
			<filter-name>setCharacterEncoding</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping> 
		
		<!-- Apache Shiro Filter -->
		<filter>
	    	<filter-name>shiroFilter</filter-name>
	    	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	    	<init-param>
	        	<param-name>targetFilterLifecycle</param-name>
	        	<param-value>true</param-value>
	    	</init-param>
		</filter>
		<filter-mapping>
	    	<filter-name>shiroFilter</filter-name>
	    	<url-pattern>/*</url-pattern>
		</filter-mapping>	
			
      
</web-app>