/*
 * index.css Style
 * --------------------------------------------------
 */
#popover{
	position: absolute;
	z-index: 9999;
	display: none;
}
.bs-docs-footer {
    color: #767676;
    text-align: center;
}